# What is 2-step verification?

Source: https://www.paypal.com/us/cshelp/article/what-is-2-step-verification-help167

---

PayPal’s 2-step verification (two-factor authentication) gives you an extra layer of security when accessing your account. You can set up 2-step verification using an authenticator app (like Google authenticator and Microsoft authenticator.)

Here's how to set up for 2- step verification for your mobile phone:

1. Click the [Settings](https://www.paypal.com/myaccount/settings/) icon next to "Log out."
2. Click **Security** near the top of the page.
3. Click **Set Up**to the right of "2-step verification."
4. Choose how you’ll get your code by selecting "Use an authenticator app."
5. Click **Set it Up** and follow the steps on the screen**.**