# Turn on 2-Step Verification

Source: https://support.google.com/mail/answer/185839

---

With 2-Step Verification, or two-factor authentication, you can add an extra layer of security to your account in case your password is stolen.

After you set up 2-Step Verification, you can sign in to your account with:

- Your password and a second step
- Your passkey

When you sign in, you may encounter different authentication challenges. The challenge you'll get is what Google thinks is best to help you sign in easily and keep out hijackers.

**Tips:**

- By default, when you create a passkey you opt in to a passkey-first, password-less sign in experience.
- If you always want to use your password first, you can [change this default preference in your account settings](/accounts/answer/13548313#sign_in_with_password).

## Allow 2-Step Verification

![An animation showing how to turn on 2-Step Verification in your Google Account](//storage.googleapis.com/support-kms-prod/EPZ8P5DL8JDKYQFiccijW9tARgdnicoVTXix)

1. Open your [Google Account](https://myaccount.google.com/).
2. Tap **Security & sign-in**.
3. Under “How you sign in to Google,” select **Turn on** **2-Step Verification**.
4. Follow the on-screen steps.

**Tip:** If you use an account through your work, school, or other group, these steps might not work. If you can’t set up 2-Step Verification, [contact your administrator for help](/a/answer/6208960).

[Turn on 2-Step Verification](https://myaccount.google.com/signinoptions/two-step-verification )

## Verify it’s you with a second step

**Important:**

- When you sign in with a passkey, it bypasses your second authentication step, since it verifies that you have possession of your device. Unlike passwords, passkeys only exist on your devices. They can’t be written down or accidentally given to a bad actor.

After you turn on 2-Step Verification, you need to complete a second step to verify it’s you if you choose to sign in with a password. To help protect your account, Google will ask you to complete a specific second step.

## Use Google prompts

If you choose not to sign in with a passkey, we recommend you [use Google prompts as your second step](/accounts/answer/7026266). It's easier to tap a prompt than enter a verification code. Prompts can also help protect against SIM swap and other phone number-based hacks.

You’ll receive Google prompts as push notifications on:

- Android phones that are signed in to your Google Account.
- iPhones with the Gmail app ![](//lh3.googleusercontent.com/HWM2mOdSi6LbM30GyYZK-UlqgyZkKPJ4lQ58FxrVoE6rYe94_fPefTG_Bf6rjxirax0j=w36-h36), the Google Photos app ![Photos](//storage.googleapis.com/support-kms-prod/FCkTSCEsNJWvoPb9QjjUwoQ9m0x1grNbkXgN), the YouTube app ![YouTube](//lh3.googleusercontent.com/t43YHr01eHfaiiviFerk1TdgDydToDTPemekpxAWt5JooU1WCn0EpVGI2riIExLo6qFk=w36-h36), or the Google app ![](//lh3.googleusercontent.com/3TOGsJ7-wS8LMr9wlhY0PczKr14xIdpWm2N-_P4qlxEAIOi4e8W1KqR3Aw5tbiUyy2o=w36-h36) signed in to your Google Account.

Based on the device and location info in the notification, you can:

- Allow the sign-in if you requested it by tapping **Yes**.
- Block the sign-in if you didn’t request it by tapping **No**.

For added security, Google may ask you for your PIN or other confirmation.

## Use other verification methods

You can set up other verification methods in case you:

- Want increased protection against phishing
- Can’t get Google prompts
- Lose your phone

Use passkeys & hardware security keys to increase phishing protection

Passkeys are a simple and secure alternative to passwords. With a passkey, you can sign in to your Google Account with your fingerprint, face scan, or device screen lock, like a PIN. You can create a passkey on a phone, computer, or hardware security key. [Learn how to create a passkey](https://www.google.com/account/about/passkeys/).

A [hardware security key](/accounts/answer/6103523) is a small device that you can buy to help verify it’s you when you sign in. When we need to make sure it’s you, you can simply connect the key to your phone, tablet, or computer. [Learn how to order your hardware security keys](/accounts/answer/7545682).

**Tip:** When a hacker tries to get your password or other personal information, passkeys and hardware security keys protect your Google Account from phishing attacks. [Learn more about phishing attacks](https://security.googleblog.com/2019/08/understanding-why-phishing-attacks-are.html).

Use Google Authenticator or other verification code apps

**Important:** Never share your verification codes with anyone, as scammers may try to take over your account. You won't receive a call from Google to verify a code.

When you don't have an internet connection or mobile service, you can set up [Google Authenticator](/accounts/answer/1066447) or another app that creates one-time verification codes.

To help verify it's you, enter the verification code on the sign-in screen.

Use a verification code from a text message or call

**Important:** Never share your verification codes with anyone, as scammers may try to take over your account. You won't receive a call from Google to verify a code.

A 6-digit code is sent to a number you’ve previously provided. Codes can be sent in a text message or a voice call, which depends on the setting you chose. To verify it’s you, enter the code on the sign-in screen.

**Tip:** Although any form of 2-Step Verification adds account security, verification codes sent by texts or calls can be vulnerable to phone number-based hacks.

Use a QR code

In certain cases, Google will require that you scan a QR code with your mobile device to verify. This method is less vulnerable to phone number-based attacks and abuse.

To verify your phone number:

1. Use your mobile phone to scan the QR code on your computer to verify your number.
   - Follow the steps on your phone to securely verify your number.
2. To complete the process, return to your computer.

Use backup codes

**Important:**

- Do not give out your backup codes to anyone.
- You can't download backup codes if you're in the Advanced Protection Program.

If you lose your phone, you can use a backup code for the second step. You can print or download a set of 8-digit backup codes to keep in a safe place. [Learn more about backup codes](/accounts/answer/1187538).

### Skip a second step on trusted devices

If you don't want to provide a second verification step each time you sign in on your computer or phone, check the box next to "Don't ask again on this computer" or "Don't ask again on this device."

**Important:** Only check this box on devices you regularly use and don't share with anyone else.

## Related resources

- [Gmail Security and Privacy Settings](https://safety.google/intl/en_us/gmail/)

[Computer](185839-turn-on-2-step-verification.md) [Android](185839-turn-on-2-step-verification.md)[iPhone & iPad](185839-turn-on-2-step-verification.md)

More