# Viewing a list of all unverified articles that need verification

Source: https://support.zendesk.com/hc/en-us/articles/4408822078490-Viewing-a-list-of-all-unverified-articles-that-need-verification

---

[What's my plan?](https://support.zendesk.com/hc/en-us/articles/5411234991258-plan)

|  |  |
| --- | --- |
| **All Suites** | Enterprise or Enterprise Plus |

|  |  |
| --- | --- |
| **Support with** | Guide Enterprise |

Location:  Knowledge admin > Manage articles (![](https://zen-marketing-documentation.s3.amazonaws.com/docs/en/guide_icon_manage_articles.png)) > Needs verification

You can set reminders based on [article verification rules](https://support.zendesk.com/hc/en-us/articles/4408828628634) to notify you when articles need to be
reviewed and verified.

When articles meet the criteria and the interval based on a rule, email notifications are
sent, and the articles appear in the Needs Verification article list. These articles are
considered unverified, and remain so until someone verifies the articles. You can view a list
of all unverified articles in the Needs Verification article list.

You must be a Knowledge admin or an agent with edit permissions to view unverified articles.

**To view the Needs Verification article list**

1. In [Knowledge admin](https://support.zendesk.com/hc/en-us/articles/9041943683354#topic_b5q_nwn_s2c), click **Manage articles**
   (![](https://zen-marketing-documentation.s3.amazonaws.com/docs/en/guide_icon_manage_articles.png)) in the sidebar.
2. Click **Needs verification**.

   ![](https://zen-marketing-documentation.s3.amazonaws.com/docs/en/article_verification_list.png)

   A list of all
   your unverified articles that need to be reviewed and verified appears.